*.DS_Store
*Vagrantfile
.vagrant
env
venv
*.png
*.jpeg
*.jpg
.ipynb_checkpoints
*__pycache__/
*.pyc
__pycache__/
*.egg-info*

src/backend/models/

# Backend - Serving - Third Party Dependency Code & Dataset & Servable 
src/backend/tfserver/data/
src/backend/tfserver/reference/
src/backend/tfserver/servable/
src/backend/tfserver/test/
src/backend/gcloud/reference/
src/backend/arbitary_style_model/reference

src/frontend/PicassoXS/DerivedData/*