model_config_list {
  config {
    name: 'monet'
    base_path: '/models/monet'
    model_platform: "tensorflow"
  }
  config {
    name: 'van-gogh'
    base_path: '/models/van-gogh'
    model_platform: "tensorflow"
  }
  config {
    name: 'monet'
    base_path: '/models/monet'
    model_platform: "tensorflow"
  }
  config {
    name: kandinsky'
    base_path: '/models/kandinsky'
    model_platform: "tensorflow"
  }
  config {
    name: 'cezanne'
    base_path: '/models/cezanne'
    model_platform: "tensorflow"
  }
}

