model_config_list {
  config {
    name: 'van-gogh'
    base_path: '/models/van-gogh'
    model_platform: "tensorflow"
  }
  config {
    name: 'monet'
    base_path: '/models/monet'
    model_platform: "tensorflow"
  }
  config {
    name: 'kandinsky'
    base_path: '/models/kandinsky'
    model_platform: "tensorflow"
  }
  config {
    name: 'cezanne'
    base_path: '/models/cezanne'
    model_platform: "tensorflow"
  }
  config {
    name: 'morisot'
    base_path: '/models/morisot'
    model_platform: "tensorflow"
  }
  config {
    name: 'arbitary_style'
    base_path: '/models/arbitary_style'
    model_platform: "tensorflow"
  }
}

